{% if product.title == '2023 Phase Five Ahi' %}
<div class="three-image-wrapper">
  <div class="three-image-inner-wrapper">
    <div class="first-wrapper">      
      <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/details-23ahi-1.jpg?v=1663878233" class="PhotoImg-{{ section.id }}">      
    </div>
    <div class="sec-wrapper">      
      <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/details-23ahi-2.jpg?v=1663878235" class="PhotoImg-{{ section.id }}">      
    </div>
    <div class="last-wrapper">      
      <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/details-23ahi-3.jpg?v=1663878232" class="PhotoImg-{{ section.id }}">      
    </div>
  </div>
</div>

<div class="board-detail-wrapper">
  <div class="title-wrapper">
    <h1>BOARD DETAILS</h1>
    <hr class="red">  
  </div> 
  <div class="board-detail-inner-wrapper grid">
    <div class="grid__item medium-up--one-half left-wrapper">
      <a href="https://cdn.shopify.com/s/files/1/0070/1582/files/details-23ahi-4.jpg?v=1663878234" class="js-modal-open-product-modal PhotoLink-{{ section.id }}">
        <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/details-23ahi-4.jpg?v=1663878234" class="PhotoImg-{{ section.id }}">
      </a>
    </div>
    <div class="grid__item medium-up--one-half right-wrapper">
      <div class="image-wrapper">
        {% render 'trick-surgeon' %}
      </div>      
      <div class="right-inner-wrapper">
        <p><span class="color-red"><strong>CONSTRUCTION FEATURES:</strong></span></p>
        <p>
          <span class="color-red">•</span> FLIGHTLITE™ V2 Pro Select Lamination<br>
          <span class="color-red">•</span> V.R.T.™ Technology<br>
          <span class="color-red">•</span> Reflex Speedrail<br>
          <span class="color-red">•</span> Epoxy Resin<br>
          <span class="color-red">•</span> FCS Fin Boxes<br>
          <span class="color-red">•</span> Texture Finish<br>
          <span class="color-red">•</span> EPS Core<br>
          <span class="color-red">•</span> Flexspine™ Carbon Stringer
        </p>
        <p><span class="color-red"><strong>FIN SETUP:</strong></span></p>
        <p>
          <span class="color-red">•</span> Quad Surf Set
        </p>
        <p><strong><span class="color-red">PAD:</span></strong></p>
        <p><span class="color-red">•</span> Deluxe Surf Pad + P5 Techno Grip™ Traction v2</p>
      </div>
    </div>
  </div>
</div>

<div class="table-section">
  <div class="additional-specs-wrapper">
    <div class="title-wrapper">
      <h1 class="main-title">BOARD & RIDER SPECS</h1>
      <hr class="red">
    </div>
      
    <div class="table-wrapper">
      <table class="table">
        
        <thead class="table-column-container">
          <tr>
            <td class="table-column">
              LENGTH
            </td>

            <td class="table-column">
              WIDTH
            </td>

            <td class="table-column">
              VOLUME
            </td>

            <td class="table-column">
              SUGGESTED WEIGHT LIMIT
            </td>

            <td class="table-column">
              RIDER HEIGHT RANGE
            </td>
            
            <td class="table-column">
              SCREWS
            </td>
          </tr>
        </thead>

        <tbody>
          <tr class="table-row-container">

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">53&quot;</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">20.5&quot;</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">17L</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">200lbs</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">5’3” - 6’1”</p>
                </div>

              </div>

            </td>
            
            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">3.7&quot;</p>
                </div>

              </div>

            </td>
          </tr>
          <tr class="table-row-container">

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">56&quot;</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">21&quot;</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">19L</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">225lbs</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">5’4” - 6’2”</p>
                </div>

              </div>

            </td>
            
            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">4.3&quot;</p>
                </div>

              </div>

            </td>
          </tr>
          <tr class="table-row-container">

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">59&quot;</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">21&quot;</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">22L</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">250lbs</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">5’6” - 6’4”</p>
                </div>

              </div>

            </td>
            
            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">4.3&quot;</p>
                </div>

              </div>

            </td>
          </tr>
          
          
        </tbody>
        
      </table>
    </div>
  </div>
  
</div>

<div class="two-image-wrapper">
  <div class="two-image-inner-wrapper">
    <div class="first-wrapper">      
      <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/action-23ahi-1.jpg?v=1664199428" class="PhotoImg-{{ section.id }}">      
    </div>   
    <div class="last-wrapper">      
      <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/action-23ahi-2.jpg?v=1664199431" class="PhotoImg-{{ section.id }}">      
    </div>
  </div>
</div>

<div class="overview-wrapper">
  <div class="title-wrapper">
    <h1>BOARD OVERVIEW</h1>
    <hr class="red">  
  </div> 
  <div class="video-wrapper">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/mQsH61Gbk5s?start=747" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="insta-wrapper">
  <div class="title-wrapper">
    <h1>#P5AHI</h1>
    <hr class="red">  
    <p>Follow us on Instagram 
      <a href="https://www.instagram.com/phase5wakesurfers/" target="_blank" rel="noopener" class="color-red">@phase5wakesurfers</a> 
      and tag your posts riding your Phase 5 Board to be featured!</p>
  </div>
  <covet-pics-widget gallery-embed-id="67188"></covet-pics-widget>  
</div>
{% endif %}

{% if product.title == '2023 Phase Five Gadget Board + GoFoil Package' %}
<div class="three-image-wrapper">
  <div class="three-image-inner-wrapper">
    <div class="first-wrapper">
      <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/details-23gadget-1.jpg?v=1663878255" class="PhotoImg-{{ section.id }}">
    </div>
    <div class="first-wrapper">
      <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/details-23gadget-2.jpg?v=1663878257" class="PhotoImg-{{ section.id }}">
    </div>
    <div class="first-wrapper">
      <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/details-23gadget-3.jpg?v=1663878256" class="PhotoImg-{{ section.id }}">
    </div>
  </div>
</div>

<div class="board-detail-wrapper">
  <div class="title-wrapper">
    <h1>BOARD DETAILS</h1>
    <hr class="red">  
  </div> 
  <div class="board-detail-inner-wrapper grid">
    <div class="grid__item medium-up--one-half left-wrapper">
      <a href="https://cdn.shopify.com/s/files/1/0070/1582/files/details-23gadget-4.jpg?v=1663878257" class="js-modal-open-product-modal PhotoLink-{{ section.id }}">
        <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/details-23gadget-4.jpg?v=1663878257" class="PhotoImg-{{ section.id }}">
      </a>
    </div>
    <div class="grid__item medium-up--one-half right-wrapper">
<!--       <div class="image-wrapper">
        
      </div>       -->
      <div class="right-inner-wrapper">
        <p><span class="color-red"><strong>CONSTRUCTION FEATURES:</strong></span></p>
        <p>
          <span class="color-red">•</span> CI-V Carbon Innegra<br>
          <span class="color-red">•</span> V.R.T.™ Technology<br>
          <span class="color-red">•</span> Reflex Speedrail<br>
          <span class="color-red">•</span> Epoxy Resin<br>
          <span class="color-red">•</span> Foil Mount<br>
          <span class="color-red">•</span> Texture Finish          
        
        </p>
        <p><span class="color-red"><strong>FOIL MOUNT</strong></span></p>
        <p>
          <span class="color-red">•</span> 10.25" Track Mount
        </p>
        <p><strong><span class="color-red">PAD:</span></strong></p>
        <p><span class="color-red">•</span> Foil Board Pad + P5 Techno Grip™ Traction v2</p>
      </div>
    </div>
  </div>
</div>

<div class="table-section">
  <div class="additional-specs-wrapper">
    <div class="title-wrapper">
      <h1 class="main-title">BOARD & RIDER SPECS</h1>
      <hr class="red">
    </div>
      
    <div class="table-wrapper">
      <table class="table">
        
        <thead class="table-column-container">
          <tr>
            <td class="table-column">
              LENGTH
            </td>

            <td class="table-column">
              WIDTH
            </td> 
            
            <td class="table-column">
              THICKNESS
            </td> 

            <td class="table-column">
              VOLUME
            </td>

            <td class="table-column">
              SUGGESTED WEIGHT LIMIT
            </td>

            <td class="table-column">
              RIDER HEIGHT RANGE
            </td>
            
          
          </tr>
        </thead>

        <tbody>
          <tr class="table-row-container">

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">49&quot;</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">21&quot;</p>
                </div>

              </div>

            </td>
            
            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">1&quot;</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">13.6L</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">200lbs</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">5’3” - 6’1”</p>
                </div>

              </div>

            </td>
            
            
          </tr>

          <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">53&quot;</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">21&quot;</p>
                </div>

              </div>

            </td>
            
            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">1&quot;</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">14.6L</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">200lbs</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">5’3” - 6’1”</p>
                </div>

              </div>

            </td>
            
            
          </tr>
          
        </tbody>
        
      </table>
    </div>
  </div>
  
</div>

<div class="two-image-wrapper">
  <div class="two-image-inner-wrapper">
    <div class="first-wrapper">
      <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/action-23gadget-1.jpg?v=1664974253" class="PhotoImg-{{ section.id }}">
    </div>
    <div class="first-wrapper">
      <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/action-23gadget-2.jpg?v=1664974253" class="PhotoImg-{{ section.id }}">
    </div>
    <div class="first-wrapper">
      <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/action-23gadget-3.jpg?v=1664974253" class="PhotoImg-{{ section.id }}">
    </div>
    <div class="first-wrapper">
      <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/action-23gadget-4.jpg?v=1664974253" class="PhotoImg-{{ section.id }}">
    </div>
    <div class="first-wrapper">
      <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/action-23gadget-5.jpg?v=1664974250" class="PhotoImg-{{ section.id }}">
    </div>
    <div class="first-wrapper">
      <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/action-23gadget-6.jpg?v=1664974250" class="PhotoImg-{{ section.id }}">
    </div>
  </div>
</div>

<div class="overview-wrapper">
  <div class="title-wrapper">
    <h1>BOARD OVERVIEW</h1>
    <hr class="red">  
  </div> 
  <div class="video-wrapper">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/QHrzAhvByQU?start=251" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="foil-background-wrapper">
  <div class="foil-wrapper overview-wrapper">
    <div class="image-wrapper">
      <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/23go_foil.png?v=1664982976">
    </div>
    <div class="title-wrapper">
      <p>PHASE FIVE</p>
      <h1>GOFOIL PACKAGE</h1>
      <hr class="red"> 
      <p>
        Phase Five turned to GoFoil to offer the ultimate high performance, lightweight package for experienced foilers. 
        GoFoil utilizes a very simplistic approach to their hydrofoil design. The plate, mast, and fuselage are all one piece. 
        The advantages of one-piece construction are increased stiffness, superior strength, no weak points around connections and less metal parts. 
        It is built with 100% prepreg epoxy infused carbon fiber for the most light weight high quality process. 
        The front and rear wings are CNC shaped PVC cores with outer skins of 100% carbon. It is designed with simplicity in mind and straightforward to assemble. 
        The front and back foils attach to the fuselage with one screw, simple.
      </p>
      </br>
      <p>
        The GoFoil x Phase Five package features a 31.5” plate mast paired with the GT 1250 front wing and 14.5” tail wing. 
        The “GT” stands for “Go To”. The GT Foil series is an ultra responsive, controlled and smooth performance foil. 
        This series is so reactive that you can get the wing tips out of the water during a hard turn and still recover. 
        The GT has superior pitch control—the up and down movement you feel when riding. Controlling pitch helps you go faster with more confidence. 
        The GT’s pump extremely well with solid initial lift and great low end. The low-end performance of the GT allows you to glide longer without dropping off foil. 
        This is the foil package team rider John Akerman prefers to ride.
      </p>
  {% comment %}
      <p class="detailed-wrapper">
        <span class="color-red">•</span> 100% carbon construction<br>
        <span class="color-red">•</span> 31.5” plate mast<br>
        <span class="color-red">•</span> GT 1250 front wing<br>
        <span class="color-red">•</span> 14.5" tail wing<br>
        <span class="color-red">•</span> Simple assembly<br>
        <span class="color-red">•</span> Wing + mast covers<br>
        
      </p>
     <a href="https://www.phase5boards.com/products/nova-foil-package" class="btn">
        LEARN MORE
      </a>{% endcomment %}
    </div>
  </div>
</div>

<div class="overview-wrapper">
  <div class="title-wrapper">
    <h1>FOIL OVERVIEW</h1>
    <hr class="red">  
  </div> 
  <div class="video-wrapper">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/QHrzAhvByQU?start=394" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div> 

<div class="insta-wrapper">
  <div class="title-wrapper">
    <h1>#P5GADGET</h1>
    <hr class="red">  
    <p>Follow us on Instagram 
      <a href="https://www.instagram.com/phase5wakesurfers/" target="_blank" rel="noopener" class="color-red">@phase5wakesurfers</a> 
      and tag your posts riding your Phase 5 Board to be featured!</p>
  </div>
  <covet-pics-widget gallery-embed-id="153400"></covet-pics-widget>
</div>
{% endif %}

{% if product.title == '2023 Phase Five Gadget Board + Nova Foil Package' %}
<div class="three-image-wrapper">
  <div class="three-image-inner-wrapper">
    <div class="first-wrapper">
      <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/details-23gadget-1.jpg?v=1663878255" class="PhotoImg-{{ section.id }}">
    </div>
    <div class="first-wrapper">
      <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/details-23gadget-2.jpg?v=1663878257" class="PhotoImg-{{ section.id }}">
    </div>
    <div class="first-wrapper">
      <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/details-23gadget-3b.jpg?v=1664991605" class="PhotoImg-{{ section.id }}">
    </div>
  </div>
</div>

<div class="board-detail-wrapper">
  <div class="title-wrapper">
    <h1>BOARD DETAILS</h1>
    <hr class="red">  
  </div> 
  <div class="board-detail-inner-wrapper grid">
    <div class="grid__item medium-up--one-half left-wrapper">
      <a href="https://cdn.shopify.com/s/files/1/0070/1582/files/details-23gadget-4.jpg?v=1663878257" class="js-modal-open-product-modal PhotoLink-{{ section.id }}">
        <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/details-23gadget-4.jpg?v=1663878257" class="PhotoImg-{{ section.id }}">
      </a>
    </div>
    <div class="grid__item medium-up--one-half right-wrapper">
<!--       <div class="image-wrapper">
        
      </div>       -->
      <div class="right-inner-wrapper">
        <p><span class="color-red"><strong>CONSTRUCTION FEATURES:</strong></span></p>
        <p>
          <span class="color-red">•</span> CI-V Carbon Innegra<br>
          <span class="color-red">•</span> V.R.T.™ Technology<br>
          <span class="color-red">•</span> Reflex Speedrail<br>
          <span class="color-red">•</span> Epoxy Resin<br>
          <span class="color-red">•</span> Foil Mount<br>
          <span class="color-red">•</span> Texture Finish          
        
        </p>
        <p><span class="color-red"><strong>FOIL MOUNT</strong></span></p>
        <p>
          <span class="color-red">•</span> 10.25" Track Mount
        </p>
        <p><strong><span class="color-red">PAD:</span></strong></p>
        <p><span class="color-red">•</span> Foil Board Pad + P5 Techno Grip™ Traction v2</p>
      </div>
    </div>
  </div>
</div>

<div class="table-section">
  <div class="additional-specs-wrapper">
    <div class="title-wrapper">
      <h1 class="main-title">BOARD & RIDER SPECS</h1>
      <hr class="red">
    </div>
      
    <div class="table-wrapper">
      <table class="table">
        
        <thead class="table-column-container">
          <tr>
            <td class="table-column">
              LENGTH
            </td>

            <td class="table-column">
              WIDTH
            </td> 
            
            <td class="table-column">
              THICKNESS
            </td> 

            <td class="table-column">
              VOLUME
            </td>

            <td class="table-column">
              SUGGESTED WEIGHT LIMIT
            </td>

            <td class="table-column">
              RIDER HEIGHT RANGE
            </td>
            
          
          </tr>
        </thead>

        <tbody>
          <tr class="table-row-container">

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">49&quot;</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">21&quot;</p>
                </div>

              </div>

            </td>
            
            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">1&quot;</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">13.6L</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">200lbs</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">5’3” - 6’1”</p>
                </div>

              </div>

            </td>
            
            
          </tr>

          <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">53&quot;</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">21&quot;</p>
                </div>

              </div>

            </td>
            
            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">1&quot;</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">14.6L</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">200lbs</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">5’3” - 6’1”</p>
                </div>

              </div>

            </td>
            
            
          </tr>
          
        </tbody>
        
      </table>
    </div>
  </div>
  
</div>
{% comment %}
<div class="two-image-wrapper">
  <div class="two-image-inner-wrapper">
    <div class="first-wrapper">
      <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/action-23gadget-1.jpg?v=1664974253" class="PhotoImg-{{ section.id }}">
    </div>
    <div class="first-wrapper">
      <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/action-23gadget-2.jpg?v=1664974253" class="PhotoImg-{{ section.id }}">
    </div>
    <div class="first-wrapper">
      <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/action-23gadget-3.jpg?v=1664974253" class="PhotoImg-{{ section.id }}">
    </div>
    <div class="first-wrapper">
      <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/action-23gadget-4.jpg?v=1664974253" class="PhotoImg-{{ section.id }}">
    </div>
    <div class="first-wrapper">
      <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/action-23gadget-5.jpg?v=1664974250" class="PhotoImg-{{ section.id }}">
    </div>
    <div class="first-wrapper">
      <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/action-23gadget-6.jpg?v=1664974250" class="PhotoImg-{{ section.id }}">
    </div>
  </div>
</div>
{% endcomment %}
<div class="overview-wrapper">
  <div class="title-wrapper">
    <h1>BOARD OVERVIEW</h1>
    <hr class="red">  
  </div> 
  <div class="video-wrapper">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/QHrzAhvByQU?start=251" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="foil-background-wrapper">
  <div class="foil-wrapper overview-wrapper">
    <div class="image-wrapper">
      <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/23nova_foil.png?v=1664979325">
    </div>
    <div class="title-wrapper">
      <p>PHASE FIVE</p>
      <h1>NOVA FOIL PACKAGE</h1>
      <hr class="red"> 
      <p>
        The Phase Five Nova Foil package is designed to make hydrofoiling user-friendly, approachable and fun in a wide range of wave conditions. 
        The package delivers the best of both worlds with plenty of lift and early takeoff for catching even the smallest rolling waves yet holds ample speed and glide to stay connected to the wave energy. 
        The magic is in the 760 Front Wing, which has a large, low-aspect shape incorporating an Inverted Gull Wing outline that gives it much better top-end speed and easy to engage pumping performance than many foils of similar size and surface area.
      </p>
      <p>
        We highly recommend picking up the short 18" mast for first time foilers. We also recomend taking a look at the 1000 Front wing upgrade to ride the 3rd and 4th wake and greatly increase the pumpability of the Nova foil. 
      </p>
      <p class="detailed-wrapper">
        <span class="color-red">•</span> 760 front wing increases overall lift and stability<br>
        <span class="color-red">•</span> 28” aluminum alloy mast<br>
        <span class="color-red">•</span> Aluminum alloy fuselage with 2 front wing position options<br>
        <span class="color-red">•</span> Light weight carbon front and rear wing finish<br>
        <span class="color-red">•</span> Titanium hardware kit for reducing corrosion<br>
        <span class="color-red">•</span> Neoprene wing covers<br>
        <span class="color-red">•</span> Compartmentalized carry case
      </p>
  {% comment %}    
  <a href="https://www.phase5boards.com/products/nova-foil-package" class="btn">
        LEARN MORE
      </a>{% endcomment %}
    </div>
  </div>
</div>

<div class="overview-wrapper">
  <div class="title-wrapper">
    <h1>FOIL OVERVIEW</h1>
    <hr class="red">  
  </div> 
  <div class="video-wrapper">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/QHrzAhvByQU?start=679" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>  
  
<div class="overview-wrapper">
  <div class="title-wrapper">
    <h1>HOW TO ASSEMBLE</h1>
    <hr class="red">  
  </div> 
  <div class="video-wrapper">
    <iframe class="" src="https://www.youtube.com/embed/4m8Kq7X1Y70?start=0&autoplay=0&loop=1&mute=1" allowfullscreen="">
    </iframe>
  </div>
</div>

<div class="insta-wrapper">
  <div class="title-wrapper">
    <h1>#P5GADGET</h1>
    <hr class="red">  
    <p>Follow us on Instagram 
      <a href="https://www.instagram.com/phase5wakesurfers/" target="_blank" rel="noopener" class="color-red">@phase5wakesurfers</a> 
      and tag your posts riding your Phase 5 Board to be featured!</p>
  </div>
  <covet-pics-widget gallery-embed-id="153400"></covet-pics-widget>
</div>
{% endif %}

{% if product.title == '2023 Phase Five Chip Board + GoFoil Package' %}
<div class="three-image-wrapper">
  <div class="three-image-inner-wrapper">
    <div class="first-wrapper">
      <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/details-23chip-1.jpg?v=1663878253" class="PhotoImg-{{ section.id }}">
    </div>
    <div class="first-wrapper">
      <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/details-23chip-2.jpg?v=1663878254" class="PhotoImg-{{ section.id }}">
    </div>
    <div class="first-wrapper">
      <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/details-23chip-3b.jpg?v=1664989564" class="PhotoImg-{{ section.id }}">
    </div>
  </div>
</div>

<div class="board-detail-wrapper">
  <div class="title-wrapper">
    <h1>BOARD DETAILS</h1>
    <hr class="red">  
  </div> 
  <div class="board-detail-inner-wrapper grid">
    <div class="grid__item medium-up--one-half left-wrapper">
      <a href="https://cdn.shopify.com/s/files/1/0070/1582/files/details-23chip-4.jpg?v=1664915965" class="js-modal-open-product-modal PhotoLink-{{ section.id }}">
        <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/details-23chip-4.jpg?v=1664915965" class="PhotoImg-{{ section.id }}">
      </a>
    </div>
    <div class="grid__item medium-up--one-half right-wrapper">
<!--       <div class="image-wrapper">        
      </div>       -->
      <div class="right-inner-wrapper">
        <p><span class="color-red"><strong>CONSTRUCTION FEATURES:</strong></span></p>
        <p>
          <span class="color-red">•</span> FLEXtec™ V2 Lamination<br>
          <span class="color-red">•</span> V.R.T.™ Technology<br>
          <span class="color-red">•</span> Reflex Speedrail<br>
          <span class="color-red">•</span> Epoxy Resin<br>
          <span class="color-red">•</span> Foil Mount<br>
          <span class="color-red">•</span> Texture Finish<br>
          <span class="color-red">•</span> EPS Core<br>
          <span class="color-red">•</span> Flexspine™ Carbon Stringer
        </p>
        <p><span class="color-red"><strong>FOIL SETUP:</strong></span></p>
        <p>
          <span class="color-red">•</span> 10.25" Track Mount
        </p>
        <p><strong><span class="color-red">PAD:</span></strong></p>
        <p><span class="color-red">•</span> Foil Board Pad + P5 Techno Grip™ Traction v2</p>
      </div>
    </div>
  </div>
</div>

<div class="table-section">
  <div class="additional-specs-wrapper">
    <div class="title-wrapper">
      <h1 class="main-title">BOARD & RIDER SPECS</h1>
      <hr class="red">
    </div>
      
    <div class="table-wrapper">
      <table class="table">
        
        <thead class="table-column-container">
          <tr>
            <td class="table-column">
              LENGTH
            </td>

            <td class="table-column">
              WIDTH
            </td>              

            <td class="table-column">
              VOLUME
            </td>

            <td class="table-column">
              SUGGESTED WEIGHT LIMIT
            </td>

            <td class="table-column">
              RIDER HEIGHT RANGE
            </td>
            
            <td class="table-column">
              FOIL MOUNT
            </td>
          </tr>
        </thead>

        <tbody>
          <tr class="table-row-container">

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">50&quot;</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">19&quot;</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">23L</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">200lbs</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">5’3” - 6’1”</p>
                </div>

              </div>

            </td>
            
            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">Track</p>
                </div>

              </div>

            </td>
          </tr>
          
        </tbody>
        
      </table>
    </div>
  </div>
  
</div>
{% comment %}
<div class="two-image-wrapper">
  <div class="two-image-inner-wrapper">
    <div class="first-wrapper">
     <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/action-23chip-1.jpg?v=1664971062" class="PhotoImg-{{ section.id }}">
    </div>
    <div class="first-wrapper">
     <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/action-23chip-2.jpg?v=1664971062" class="PhotoImg-{{ section.id }}">
    </div>
    <div class="first-wrapper">
     <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/action-23chip-3.jpg?v=1664971061" class="PhotoImg-{{ section.id }}">
    </div>
  </div>
</div>
{% endcomment %}
<div class="overview-wrapper">
  <div class="title-wrapper">
    <h1>BOARD OVERVIEW</h1>
    <hr class="red">  
  </div> 
  <div class="video-wrapper">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/QHrzAhvByQU?start=136" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="foil-background-wrapper">
  <div class="foil-wrapper overview-wrapper">
    <div class="image-wrapper">
      <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/23go_foil.png?v=1664982976">
    </div>
    <div class="title-wrapper">
      <p>PHASE FIVE</p>
      <h1>GOFOIL PACKAGE</h1>
      <hr class="red"> 
      <p>
        Phase Five turned to GoFoil to offer the ultimate high performance, lightweight package for experienced foilers. 
        GoFoil utilizes a very simplistic approach to their hydrofoil design. The plate, mast, and fuselage are all one piece. 
        The advantages of one-piece construction are increased stiffness, superior strength, no weak points around connections and less metal parts. 
        It is built with 100% prepreg epoxy infused carbon fiber for the most light weight high quality process. 
        The front and rear wings are CNC shaped PVC cores with outer skins of 100% carbon. It is designed with simplicity in mind and straightforward to assemble. 
        The front and back foils attach to the fuselage with one screw, simple.
      </p>
      </br>
      <p>
        The GoFoil x Phase Five package features a 31.5” plate mast paired with the GT 1250 front wing and 14.5” tail wing. 
        The “GT” stands for “Go To”. The GT Foil series is an ultra responsive, controlled and smooth performance foil. 
        This series is so reactive that you can get the wing tips out of the water during a hard turn and still recover. 
        The GT has superior pitch control—the up and down movement you feel when riding. Controlling pitch helps you go faster with more confidence. 
        The GT’s pump extremely well with solid initial lift and great low end. The low-end performance of the GT allows you to glide longer without dropping off foil. 
        This is the foil package team rider John Akerman prefers to ride.
      </p>
  {% comment %}
      <p class="detailed-wrapper">
        <span class="color-red">•</span> 100% carbon construction<br>
        <span class="color-red">•</span> 31.5” plate mast<br>
        <span class="color-red">•</span> GT 1250 front wing<br>
        <span class="color-red">•</span> 14.5" tail wing<br>
        <span class="color-red">•</span> Simple assembly<br>
        <span class="color-red">•</span> Wing + mast covers<br>
        
      </p>
     <a href="https://www.phase5boards.com/products/nova-foil-package" class="btn">
        LEARN MORE
      </a>{% endcomment %}
    </div>
  </div>
</div>

<div class="overview-wrapper">
  <div class="title-wrapper">
    <h1>FOIL OVERVIEW</h1>
    <hr class="red">  
  </div> 
  <div class="video-wrapper">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/QHrzAhvByQU?start=394" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div> 

<div class="insta-wrapper">
  <div class="title-wrapper">
    <h1>#P5CHIP</h1>
    <hr class="red">  
    <p>Follow us on Instagram 
      <a href="https://www.instagram.com/phase5wakesurfers/" target="_blank" rel="noopener" class="color-red">@phase5wakesurfers</a> 
      and tag your posts riding your Phase 5 Board to be featured!</p>
  </div>
  <covet-pics-widget gallery-embed-id="67193"></covet-pics-widget>
</div>
{% endif %}