{% if product.title == '2023 Phase Five Shrimp' %}
<div class="three-image-wrapper">
  <div class="three-image-inner-wrapper">
    <div class="first-wrapper">
      <a href="https://cdn.shopify.com/s/files/1/0070/1582/files/details-23shrimp-1.jpg?v=1663878143" class="js-modal-open-product-modal PhotoLink-{{ section.id }}">
        <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/details-23shrimp-1.jpg?v=1663878143" class="PhotoImg-{{ section.id }}">
      </a>
    </div>
    <div class="sec-wrapper">
      <a href="https://cdn.shopify.com/s/files/1/0070/1582/files/details-23shrimp-2.jpg?v=1663878145" class="js-modal-open-product-modal PhotoLink-{{ section.id }}">
        <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/details-23shrimp-2.jpg?v=1663878145" class="PhotoImg-{{ section.id }}">
      </a>
    </div>
    <div class="sec-wrapper">
      <a href="https://cdn.shopify.com/s/files/1/0070/1582/files/details-23shrimp-2.jpg?v=1663878145" class="js-modal-open-product-modal PhotoLink-{{ section.id }}">
        <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/details-23shrimp-2.jpg?v=1663878145" class="PhotoImg-{{ section.id }}">
      </a>
    </div>
    <div class="last-wrapper">
      <a href="https://cdn.shopify.com/s/files/1/0070/1582/files/details-23shrimp-3.jpg?v=1663878142" class="js-modal-open-product-modal PhotoLink-{{ section.id }}">
        <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/details-23shrimp-3.jpg?v=1663878142" class="PhotoImg-{{ section.id }}">
      </a>
    </div>
  </div>
</div>

<div class="board-detail-wrapper">
  <div class="title-wrapper">
    <h1>BOARD DETAILS</h1>
    <hr class="red">  
  </div> 
  <div class="board-detail-inner-wrapper grid">
    <div class="grid__item medium-up--one-half left-wrapper">
      <a href="https://cdn.shopify.com/s/files/1/0070/1582/files/details-23shrimp-4.jpg?v=1663878144" class="js-modal-open-product-modal PhotoLink-{{ section.id }}">
        <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/details-23shrimp-4.jpg?v=1663878144" class="PhotoImg-{{ section.id }}">
      </a>
    </div>
    <div class="grid__item medium-up--one-half right-wrapper">
      <div class="image-wrapper">        
        {% render 'beginner-approved' %}
      </div>      
      <div class="right-inner-wrapper">
        <p><span class="color-red"><strong>CONSTRUCTION FEATURES:</strong></span></p>
        <p>
          <span class="color-red">•</span> E-Glass™ Wrap<br>
          <span class="color-red">•</span> 1/2” Thick<br>
          <span class="color-red">•</span> Composilite™ Construction<br>
          <span class="color-red">•</span> Continuous Core<br>
          <span class="color-red">•</span> Polyester Resin<br>
          <span class="color-red">•</span> Single Fin Setup<br>
          <span class="color-red">•</span> TuffCoat™ Gloss<br>
          <span class="color-red">•</span> Gel Coat Art
        </p>
        <p><span class="color-red"><strong>FIN SETUP:</strong></span></p>
        <p>
          <span class="color-red">•</span> (1) 2” Tail Fin
        </p>
        <p><strong><span class="color-red">PAD:</span></strong></p>
        <p><span class="color-red">•</span> Scamp Skim Pad + P5 Techno Grip™ Traction v2</p>
      </div>
    </div>
  </div>
</div>

<div class="table-section">
  <div class="additional-specs-wrapper">
    <div class="title-wrapper">
      <h1 class="main-title">BOARD & RIDER SPECS</h1>
      <hr class="red">
    </div>
      
    <div class="table-wrapper">
      <table class="table">
        
        <thead class="table-column-container">
          <tr>
            <td class="table-column">
              LENGTH
            </td>

            <td class="table-column">
              WIDTH
            </td>
            
            <td class="table-column">
              THICKNESS
            </td>

            <td class="table-column">
              VOLUME
            </td>

            <td class="table-column">
              SUGGESTED WEIGHT LIMIT
            </td>

            <td class="table-column">
              RIDER HEIGHT RANGE
            </td>
            
            <td class="table-column">
              SCREWS
            </td>
          </tr>
        </thead>

        <tbody>
          <tr class="table-row-container">

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">40&quot;</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">17.5&quot;</p>
                </div>

              </div>

            </td>
            
            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">1/2&quot;</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">4.5L</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">100lbs</p>
                </div>

              </div>

            </td>

            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">Up to 5’0”</p>
                </div>

              </div>

            </td>
            
            <td class="table-row">
              <div class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">

                  <p style="text-align: center;">1&quot;</p>
                </div>

              </div>

            </td>
          </tr>
          
        </tbody>
        
      </table>
    </div>
  </div>
  
</div>

<div class="two-image-wrapper">
  <div class="two-image-inner-wrapper">
    <div class="first-wrapper">
      <a href="https://cdn.shopify.com/s/files/1/0070/1582/files/action-shrimp-1.jpg?v=1632953762" class="js-modal-open-product-modal PhotoLink-{{ section.id }}">
        <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/action-shrimp-1.jpg?v=1632953762" class="PhotoImg-{{ section.id }}">
      </a>
    </div>
    <div class="last-wrapper">
      <a href="https://cdn.shopify.com/s/files/1/0070/1582/files/action-shrimp-2.jpg?v=1632953798" class="js-modal-open-product-modal PhotoLink-{{ section.id }}">
        <img src="https://cdn.shopify.com/s/files/1/0070/1582/files/action-shrimp-2.jpg?v=1632953798" class="PhotoImg-{{ section.id }}">
      </a>
    </div>
  </div>
</div>

<div class="overview-wrapper">
  <div class="title-wrapper">
    <h1>BOARD OVERVIEW</h1>
    <hr class="red">  
  </div> 
  <div class="video-wrapper">
    <iframe class="" src="https://www.youtube.com/embed/8M8Zoasdl8Y?start=0&autoplay=1&loop=1&mute=1" allowfullscreen="">
    </iframe>
  </div>
</div>

<div class="insta-wrapper">
  <div class="title-wrapper">
    <h1>#P5SHRIMP</h1>
    <hr class="red">  
    <p>Follow us on Instagram 
      <a href="https://www.instagram.com/phase5wakesurfers/" target="_blank" rel="noopener" class="color-red">@phase5wakesurfers</a> 
      and tag your posts riding your Phase 5 Board to be featured!</p>
  </div>
  <covet-pics-widget gallery-embed-id="157131"></covet-pics-widget>
</div>
{% endif %}